__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
venv/
.env

db.sqlite3
staticfiles/

# Ignorar todo el directorio media (archivos subidos en producción)
# pero dejar rastreados los .gitkeep para que existan las carpetas vacías
/media/**
!/media/.gitkeep
!/media/**/.gitkeep

# Cosas varias de sistema/logs (opcional pero recomendable)
.DS_Store
*.log

