__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.env
db.sqlite3
staticfiles/

# ignora todo media
/media/**
# pero sí conserva los .gitkeep para que aparezcan las carpetas
!/media/.gitkeep
!/media/**/.gitkeep

